footer {
    position: relative;
    margin-top: auto;
    height: 60px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    background: linear-gradient(120deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
    color: white;
}