nav {
    padding: 3rem;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 0.25rem 0.5rem;
}

li > a {
    text-decoration: none;
    color: var(--color);
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}