.keyboard {
    position: relative;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    max-width: 400px;
    min-width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 0.25rem;
    align-self: stretch;
  }
  
  .key_btn {
    border: 1px solid orangered;
    background-color: #232428;
    color: lightgray;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
  }

  .key_btn:hover:disabled {
    background-color: #531b1b;
  }

  .key_btn:hover:not(:disabled),
  .key_btn:focus:not(:disabled) {
    background-color: #74803e;
    color: white;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.459));
  }


  .key_msg {
    position: relative;
    display: block;
    margin: 1rem auto 0;
  }

  .key_msg > span {
    color: rgb(202, 33, 33);
    letter-spacing: 2px;
    font-weight: 100;
  }

  