@import url('../../main.css');
@import url('./keyboard.css');
@import url('./../header.css');
@import url('./../footer.css');
@import url('./../nav.css');
@import url('./../buttons.css');

body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#hangman > main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hangman h1 {
    font-size: calc(2vmin + 2.5vmax);
    font-family: Coolvetica;    
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #faf8f8;
}

 h2 {
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
    text-align: center;
}

#hangman > nav > ul > li > a {
    color:  rgb(223, 72, 17);;
}

.info {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    max-width: 400px;
    min-width: 300px;
    min-height: 100px;
    height: 100%;
    color: white;
    background-color: #181818;
}

.block {
    display: block;
}

.info > p {
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 1.5rem;
}

.secret_word {
    height: 40px;
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: #282828;
    font-size: 1.5rem; 
    color: orange;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    border-bottom: 1px solid #888;
}

.secret_word > span.hidden {
    letter-spacing: 4px;
}

.secret_word > span.show{
    border: none;
}
.secret_word > span {
    padding: 0 0.25rem;
}

.input_box {
    position: relative;
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
    height: 40px;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
   
}

.user_guess {
    position: relative;
    padding: 0.25rem 0;
    font-size: 1.2rem;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
}

.word_letter {
    padding: 0 0.25rem;
    font-size: 1.5rem;
}

.guesses,
.msg {
    position: relative;
    margin: 0.2rem 0;
    color: rgb(223, 149, 89);
    text-align: center;
}

.msg {
    visibility: none;
}

.wrong_letters{
    margin: 0.5rem 0;
    text-align: center;
    letter-spacing: 5px;
    color: rgb(252, 127, 105);
}

.btn_start {
    width: 40%;
    margin: 1rem auto 0;
    border: 1px solid orangered;
}

.btn_quit {
    position: relative;
    align-self: center;
    display: none;
    color: whitesmoke;
    width: 40%;
    margin: 1rem auto 0.5rem;
    border: 1px solid rgb(243, 239, 238);
    z-index: 10;
    background: #121212;
}

.btn_quit:hover {
    color: tomato;
}

.btn_quit.btn_special::after {
    background-color: rgb(27, 27, 27);
  }

@media screen and (min-width: 768px) {
    .btn_start {
        max-width: 300px;
    }
    .btn_quit {
        max-width: 300px;
    }

    .input_box,
    .secret_word {
    max-width: 300px;
    }
}



