* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(1600deg, rgb(10, 10, 65), rgb(76, 43, 138), rgb(34, 80, 92));
}

.container {
    margin: 10vh auto 0;
    width: 80%;
    height: 80vh;
    background-color: aquamarine;
}