@import url("../typography.css");
@import url("../header.css");
@import url("../nav.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: rgb(28, 172, 172);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: Coolvetica;
    text-align: center;
}

h1 {
    font-size: calc(2vmin + 2.5vmax);
    font-family: Coffee;
    text-align: center;
    text-transform: capitalize;
}

  h2 {
    font-family: Bebas;
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
    text-align: center;
    filter: drop-shadow(2px 2px rgba(255, 255, 255, 0.247));
} 

.choices_wrapper {
    width: 100%;
    display: flex;
}

.choices_wrapper > ul {
    margin: 1rem auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.choices_wrapper > ul > li {
    list-style-type: none;
    padding: 1rem 2rem;
}

.btn {
    letter-spacing: 2px;
    position: relative;
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    border: none;
    outline: none;
    font-family: bebas;
    font-weight: 400;
    text-align: center;
    background-color: #282828;
    color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.4);
    transition: all 0.3s;
    cursor: pointer;
}


  .start {
    filter: drop-shadow(0 1px 1px rgba(142, 223, 49, 0.4));
 }
  .start:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    filter: drop-shadow(0 3px 2px rgba(142, 223, 49 ,0.5));
 }
 .start:active {
    transform: translateY(-1px);
    filter: drop-shadow(0 0 1px rgba(142, 223, 49, 0.274));
    box-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

.restart {
    position: absolute;
    bottom: 0;
    display: none;
    filter: drop-shadow(0 1px 1px rgba(223, 84, 49, 0.4));
}

.restart:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    filter: drop-shadow(0 3px 2px rgba(223, 84, 49, 0.5));
 }
 .restart:active {
    transform: translateY(-1px);
    filter: drop-shadow(0 0 1px rgba(223, 84, 49, 0.274));
    box-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

i {
    position: relative;
    font-size: calc(4vmin + 2vmax);
    color: rgb(99, 107, 104);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s ease-in-out;
}

i.active {
    color: aquamarine;
    cursor: pointer;
}

i.active:hover {
    color: black;
    filter: drop-shadow(0.1rem 0.1rem rgba(0, 255, 255, 0.671)) drop-shadow(-0.1rem -0.1rem rgba(0, 255, 255, 0.671));
    cursor: pointer;
} 

i.small {
    font-size: calc(3vmin + 1vmax);
    filter: drop-shadow(1px 1px 1px aqua);
    color: black;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.player_icon {
    position: absolute;
    transform: rotate(90deg);
    left: 25%;
    color: lightgreen;
    animation-name: showPlayer;
    animation-duration: 0.8s;
}

.bot_icon {
    position: absolute;
    transform: rotate(-90deg) scaleX(-1);
    right: 25%;
    color: orangered;
    animation-name: showBot;
    animation-duration: 0.8s;
}



.draw {
    position: absolute;
    color: rgba(214, 214, 49, 0.938);
}

.score {
    width: 50%;
    font-size: calc(4vmin + 2vmax);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.247);
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-family: Bebas;
}

.show_result {
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 500px;
    height: 400px;
    background: #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.247);
    animation-name: show;
    animation-duration: .4s;
}

.show_text {
    position: absolute;
    top: 1rem;
    text-align: center;
}

.show_icon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}


@keyframes show {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
@keyframes showPlayer {
    from {
        transform: translateX(-500px);
      }
    
      to {
          transform: translateX(0px);
      }
  }

@keyframes showBot {
    from {
      transform: translateX(500px);
    }
  
    to {
        transform: translateX(0px);
    }
  }


