@import url('../../main.css');
@import url('./keyboard.css');
@import url('./../header.css');
@import url('./../nav.css');


main {
    width: 100%;
    margin: 2rem auto;
}

.welcome {
    width: 100%;
    height: 200px;
    display: grid;
    place-content: center;
}

#hangman > header > h1 {
    font-family: Coolvetica;
    letter-spacing: 2px;
}

#hangman > nav > ul > li > a {
    color:  orangered;;
}

.game_info {
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 400px;
    background-color: #181818;
}

.game_info > p {
    font-family: Coolvetica;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.secret_word {
    margin: 2rem 0;
    font-size: 1.2rem;
    color: orange;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.secret_word > span.hidden {
    letter-spacing: 4px;
}

.secret_word > span.show{
    border: none;
}
.secret_word > span {
    padding: 0 0.25rem;
}

.input_box {
    position: relative;
    margin: 0 auto;
    height: 40px;
    width: 80%;
    padding: 0.25rem 0.5rem;
    background-color: #282828;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_guess {
    position: relative;
    font-size: 1.2rem;
    color: yellow;
    text-align: center;
    text-transform: uppercase;
}

.word_letter {
    padding: 0 0.25rem;
    font-size: 1.5rem;
}

.btn_start {
    
}



