@import url('../../main.css');
@import url('./keyboard.css');
@import url('./../header.css');
@import url('./../nav.css');
@import url('./../buttons.css');


#hangman > main {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hangman h1 {
    font-size: calc(2vmin + 2.5vmax);
    font-family: Coolvetica;    
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
}

 h2 {
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
    text-align: center;
}

#hangman > nav > ul > li > a {
    color:  orangered;;
}

.info {
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 400px;
    min-width: 300px;
    min-height: 100%;
    color: white;
    background-color: #181818;
    display: block;
}

.block {
    display: block;
}

.info > p {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

.secret_word {
    margin: 2rem 0;
    font-size: 1.2rem;
    color: orange;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.secret_word > span.hidden {
    letter-spacing: 4px;
}

.secret_word > span.show{
    border: none;
}
.secret_word > span {
    padding: 0 0.25rem;
}

.input_box {
    position: relative;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    max-width: 400px;
    padding: 0.25rem 0.5rem;
    background-color: #282828;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_guess {
    position: relative;
    font-size: 1.2rem;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
}

.word_letter {
    padding: 0 0.25rem;
    font-size: 1.5rem;
}

.guesses,
.msg {
    color: rgb(223, 149, 89);
    position: relative;
    margin: 0.5rem 0;
    text-align: center;
    height:20px;
}

.wrong_letters{
    text-align: center;
    letter-spacing: 5px;
    color: rgb(224, 48, 17);
}

.btn_start {
    width: 60%;
    margin: 1rem auto 0;
    border: 1px solid orangered;
}

@media screen and (min-width: 768px) {
    .btn_start {
        max-width: 300px;
    }
}



