@import url('../../main.css');
@import url('./keyboard.css');
@import url('./../header.css');
@import url('./../nav.css');


main {
    width: 100%;
margin: 2rem auto;
}

.welcome {
    width: 100%;
    height: 200px;
    display: grid;
    place-content: center;
}

.input_word {
    width: 100%;
    height: 100px;
    font-size: 1.2rem;
    color: yellow;
    text-align: center;
    text-transform: uppercase;
}

.word_letter {
    padding: 0 0.25rem;
    font-size: 1.5rem;
}