@import url('../../main.css');
@import url('./keyboard.css');
@import url('./../header.css');
@import url('./../nav.css');


.welcome {
    width: 100%;
    height: 200px;
    display: grid;
    place-content: center;
}